
<div class="jumbotron">
<h1 id="page-title">BURGERTOPIA<h1>
</div>

<div class="row cheese mx-auto">
<div class="col-12">
<h2>NEXT CONTENDER</h2>
</div>
</div>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<div class="row cheese mx-auto">
<div class="col-12">
<h2>CONQUERED BURGERS</h2>
</div>
</div>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
     {{/each}}
</ul>

<div class="row bun-bottom">
</div>

</div>
</div>

<div class="float-right spacer2">
    
</div>

<div class="side-menu float-right">

<div class="bottle-tip"></div>
<div class="bottle-top"></div>
<div class="bottle-body">
    <div class="bottle-label  text-center">
        <h2>Add Your Own Flavor!</h2>
<form class="create-form ">
    
    <div class="form-group">
        <label for="ba">Burger Name:</label>
        <input type="text" id="ba" name="name">
    </div>
    <div class="form-group">
        <label for='devoured'>Devoured?</label><br>
        <input type='radio' name='devoured' value='0' checked> Not Eaten <br>
        <input type="radio" name='devoured' value='1'> Devoured
    </div>
    <button type="submit" id="ba-button" class='btn btn-primary'> <i class="fas fa-hamburger"></i> Add Burger</button>
</form>
    </div>
</div>
</div>