.burger-list {
    font-size: 18pt;
}

.change-devoured, .delete-burger {
    font-size: 14pt;
    /* padding: .5rem; */
    margin-bottom: 10px;
    width: 60%;
    /* height: 15px; */
}


body {
    background: lightyellow;
    background-image: url('../images/food.png')
}

.burger-title {
    color: white;
    font-family: 'Stylish', sans-serif;
    margin-top: 18px;
    font-size: 1.5em;

}

#ba-button {
 margin-bottom: 20px;
}

.jumbotron {
    /* background: wheat; */

    margin-top: 20px;
    background: #ffa32b;
    border-top-right-radius: 140px;
    border-top-left-radius: 140px; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset -35px -8px 5px #da8a25;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 30px;
    border: solid 2px brown;
    
}

#page-title {
    font-size: 70px;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin Sketch', cursive;
    color: #855e2c;
    letter-spacing: .25em;
    font-weight: bold;
    
}

.bun-bottom {

margin-bottom: 20px;
background: #ffa32b;
border-bottom-right-radius: 140px;
border-bottom-left-radius: 140px; 
border-top-right-radius: 20px;
border-top-left-radius: 20px;
box-shadow: inset -35px -8px 5px #da8a25;
height:100px;
border: solid 2px brown;
}


li {
    background: #962100;
    border-radius: 20px;
    box-shadow: inset -25px -10px 2px #621700;
    border: 1px solid black;
    
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cheese {
    background: yellow;
    border: solid 1px black;
    color: darkyellow;
    box-shadow: inset -2px -5px 3px rgba(0, 0, 0, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 99%;

}


.container {
    width: 900px;
    box-shadow: 0px 0px 40px 20px rgba(255,165,0,.5),
    inset 0px 0px 0px 500px rgba(255,165,0,.5);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}

.bottle-tip {
    border-top: none;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: solid 220px darkred;
    width: 35%;
    height: 80px;
    margin: 40px auto 0px auto;
}

.bottle-top {
    background: darkred;
    border: solid 1px black;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    box-shadow: inset -60px -10px 15px rgb(121, 6, 6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottle-body {
    background: darkred;
    border: solid 1px black;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    box-shadow: inset -80px -10px 15px rgb(121, 6, 6);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottle-label {
    background: white;
    border: solid 1px black;
    width: 90%;
    height: 300px;
    margin: 25% auto;
    box-shadow: inset -60px 0px 15px rgb(0,0,0,.1);
    

}

.spacer {
    height: 600px;
    width: 15%;
}

.spacer2 {
    height: 600px;
    width: 5%;
}